body {
    display: grid;
    justify-content: center;
}

#container {
    display: inline-grid;
    /* grid-template-columns: 50px 50px 50px 50px; */
    grid-template-columns: auto repeat(8, 1fr);
    background-color: #2196F3;
    padding: 10px;
    /* grid-template-rows: auto; */
    justify-content: center;
}


.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#container .break {
    grid-column: 1 / 9;

}

#free_day {
    place-content: center;
    grid-row: 2 / 20;
    grid-column: 9;
}

#container .math {
    background-color: rgb(41, 131, 163);
}


#container .english {
    background-color: rgb(210, 80, 60);
}


#container .bible {
    background-color: rgb(204, 134, 42);
}


#container .sport {
    background-color: rgb(83, 200, 63);
}

#container .history {
    background-color: rgb(212, 217, 50);
}

#container .computer_science {
    background-color: rgb(217, 50, 217);
}

#container .art {
    background-color: rgb(145, 50, 217);
}