* {
    margin: 0;
    font-family: cursive;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0%;
}

nav {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 120px;
    width: 100%;
    background-color: rgb(164, 27, 51);
    z-index: 1;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    font-size: 20px;
    height: 100%;
    flex-wrap: wrap;
    width: 82%;

}

#navicon {
    display: none;
    font-size: 50px;
    padding-left: 7%;
}

.navitem {
    display: flex;
    justify-content: center;
    height: 50%;
    font-size: 125%;

}

a {
    color: aliceblue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 5px 10px;
    transition: all 0.3s;
}

/* movement */

a:hover {
    transform: translateY(-7px);
}

li a:hover {
    color: rgb(255, 202, 10);
}

#order:hover,
.button_order:hover {
    color: rgb(164, 27, 51);
    background-color: #ffffff;
}


li {
    display: flex;
    align-items: center;
    align-content: center;
    transition: ease-in 0.3s;
}

i {
    padding: 10px 10px 10px 0;
}

#order {
    text-align: center;
    border: rgb(255, 202, 10) 1px solid;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 202, 10);
    border-radius: 20px;
    font-weight: 600;
    list-style-type: none;
    text-decoration: none;
    display: flex;
}

.KFClogo {
    border-bottom-left-radius: 50px;
    height: 20vh;
}

.KFClogo>img {
    border-bottom-left-radius: 50px;
    height: 120%;
    width: 105%;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.KFC {
    width: 30%;
    justify-content: center;
    padding: 3%;
}

.video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

video {
    width: 100%;
    border-radius: 3%;
    object-fit: cover;
    position: relative;
}

p {
    color: rgba(255, 255, 255, 0.797);
    font-size: 20px;
    position: absolute;
    font-size: 150px;
    font-family: "Caveat";
    font-weight: 900;
    animation: upup 5s infinite;
}

h1 {
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 50px;
    text-align: center;
    color: rgb(164, 27, 51);
}

#menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    height: 800px;
    margin-bottom: 10%;
    flex-direction: row;
    justify-content: space-evenly;
}


h2 {
    color: black;
    text-align: center;
}


.food {
    display: flex;
    justify-content: space-around;
    /*maybe not*/
    align-items: center;
    flex-direction: column;
    width: 27%;
    height: 40%;
    border-radius: 15px;

}

.food img {
    transition: all 0.5s;
}

.food img:hover {
    transform: scale(1.2)
}


.button_order {
    text-align: center;
    border: rgb(255, 202, 10) 1px solid;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 202, 10);
    border-radius: 20px;
    font-weight: 700;
    height: 12%;
    width: 60%;
    font-size: 20px;
}

.food>img {
    height: 60%;
    width: 100%;
    object-fit: cover;
}

footer {
    background-color: rgb(164, 27, 51);
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer_img {
    width: 100%;
    height: 100%;
}

.social_media {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}


@keyframes upup {
    0% {
        color: rgb(164, 27, 51);
    }

    50% {
        color: rgb(255, 202, 10);
    }

    100% {
        color: rgb(164, 27, 51);
    }
}


@media (max-width: 768px) {
    #navicon {
        display: flex;
    }

    .navitem {
        display: none;
    }

    .KFClogo {
        display: flex;
        align-content: flex-end;
        flex-wrap: wrap;
        height: 100%;
        width: 90%;
    }

    #nav {
        justify-content: center;
        font-size: 25px;
        width: 100%;
        padding-left: 2%;
    }

    a {
        padding: 5px 4px;
    }

    p {
        font-size: 70px;
    }

    video {
        height: 70%;
    }

    .food {
        width: 45%;
        margin: 2%;
    }

    footer {
        margin-top: 250px;
    }

    footer>div:first-child {
        display: flex;
        justify-content: center;
    }

    .footer_img {
        height: 40%;
        width: 40%;
    }
}